body{
background-image: url("../images/Background.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}

#container{
border: 3px solid black;
background-color: beige;
text-align: center;

}

h1, h4, h5{
    text-align: center;
}

